@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

/* 
font-family: "Inter", sans-serif;
font-family: "Roboto Serif", serif;
font-family: "Open Sans", sans-serif;
font-family: "Lato", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Playfair Display SC", serif;
font-family: "JetBrains Mono", monospace;
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
    /* border: 3px solid red; */
    /* background-color: #3a0235; */
    background-color: #000000;
    
    
}
/* Classe Utilitaria */
.grid-container{
    display: grid;
    margin: 0 auto;
    max-width: 1900px;
    height: auto;
    /* border: 3px solid yellow; */
}