.container-main{
   /*  border: 3px solid rgb(226, 124, 8); */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-main-apresentacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;  
    height: auto;
    padding: 100px;
    width: 25vw;
    /* border: 2px solid white; */
    
}

.container-main-apresentacao img{
    width: 50%;
}
.container-main-apresentacao h2{
    color: #ffffff;
    font-family: "Playfair Display SC", serif; 
    font-size: 4rem; 
    color: #7B4AE2;
    
}

.container-main-apresentacao p{
    color: #ffffff;
    font-size: 1.2rem;
    color: #7B4AE2;
    
}

.container-main-avatar{
    /* border: 3px solid white; */
    align-items: center ;
    /* width: 35vw; */
    height: auto    ;
    margin: 0 auto;
    overflow: hidden;
    
}

.container-main-apresentacao-redes{
    display: flex;
    gap: 20px;
    width: auto;
    /* border: 3px solid yellow;  */
    

    
}
.container-main-apresentacao-redes  Img{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
     width: 2rem;
}
 
.container-main-apresentacao-redes Img:hover{
    transform: scale(1.3); /* aumenta 10% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

/* inicio das animacoes */




/* Fim das animacoes */

.curriculo{
    /* border: 3px solid wheat; */
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    gap: 10px;
    padding: 20px;

}
.curriculo a{
    font-family: "Playfair Display SC", serif; 
    font-size: 1rem;
    font-weight: 500;
    color: #7B4AE2;
    text-decoration: none;
}

.curriculo button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border-radius: 25px;
    font-family: "Playfair Display SC", serif; 
    font-size: 1rem;
    background-color: #1E1E1E;
    color: #7B4AE2;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 0px 5px #7B4AE2;
}

.curriculo button img{
    width: 2rem;
}

.curriculo button:hover{
    transform: scale(1.05);
}


.curriculo button:active{
    /* transform: translateX(9px); */
    transform: translateY(5px);
}


